.buttonIn { 
  width: 305px;
  position: relative;
  border: 3px solid #0f0a0a;
  border-radius: 8px;
  margin: auto;
} 
  
.input-search { 
    margin: 0px; 
    padding: 0px; 
    width: 90%; 
    outline: none; 
    height: 30px; 
    border: 1px solid white;
} 
  
.button-search { 
    position: absolute; 
    top: 2px;
    border-radius: 5px; 
    right: 0px; 
    z-index: 2; 
    border: none; 
    background: none;
    font-size: 30px;

} 

#flex-distence{

     padding: 10px;
      
}