.main_box {
    display: grid;
    row-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 85vh;
    margin: 20px 5px 2px 5px ;

}

.app-chart{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.top-comment{
    overflow: scroll;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: -1;
    grid-column-end:-1
}

.thumbnail{
border: 1px solid black;
}
