
#chart-container {
    border: 1px solid #000;
    overflow: hidden;
    height: 59%;
    width: 68%;
    left: 14%;
    top: 47%;
    margin: auto;
    min-height: 65vh;
}

#flex-space {
    height: 20px;
}