@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto-Bold.ttf') format('truetype'),
         url('../../../assets/fonts/Roboto-Bold.ttf') format('truetype') bold;
    font-weight: normal;
    font-style: normal;
}

// div {
//     width: 90%;
//     border: 15px solid rgb(211, 44, 44);
//     padding: 50px;
//     margin: 20px;
// }

h1, li {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto-Regular.ttf') format('truetype'),
         url('../../../assets/fonts/Roboto-Bold.ttf') format('truetype') bold;
    font-weight: normal;
    font-style: normal;
}

div {
    // width: 90%;
    // border: 15px solid rgb(211, 44, 44);
    // padding: 50px;
    // margin: 20px;
    // max-width: 850px;
    // max-height: 300px;
    // overflow-y: auto;
}

h1, li {
    font-family: 'Roboto', sans-serif;
}
