<div *ngIf="isTopComment" class="container top-comment">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading panel-h-positive">
        <h3 class="panel-title nav-item">
          <a class="nav-link dropdown-toggle" aria-expanded="false" data-toggle="collapse" href="#collapse1">
            {{title}} 
            <i class="fa fa-chevron-right pull-right"></i> 
          </a>
        </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of listData">
            <div [innerHTML]="item"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!isTopComment" class="container top-comment">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading panel-h-negative">
        <h4 class="panel-title ">
          <a data-toggle="collapse" href="#collapse2">{{title}}
            <i class="fa fa-chevron-right pull-right"></i>
          </a>
          
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of listData">
            <div [innerHTML]="item"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>