
#chart-container {
    box-sizing: border-box;
    width: 93%;
    border: 2px solid black;
    height: 90%;
    padding: 10px;
    margin: 5px 0px 0px 10px;
    position: relative;
    left: 38px;
    left: 4%;
    top: -1%;
    border-radius: 10px;
}